Repository peplxx/Notimy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_root, test_backend

validate_root:
  script:
  - echo Pipeline succeeds

test_backend:
  stage: test
  image: python:3.12-slim
  cache:
    paths:
    - backend/.venv
  script:
  - cd backend
  - poetry install
  - make test

feat: add logo circle
  frontend/public/logo_circle.png
Due: none

feat: Close Channel event
  backend/app/config/default.py
  backend/app/src/common/events/channel_events/__init__.py
  backend/app/src/common/events/channel_events/channel_closed.py
  backend/app/src/modules/spots/routes.py
Due: test_backend

fix: limiter in test preset
  .github/workflows/main.yml
  backend/app/config/default.py
  backend/app/src/limiter.py
  backend/tests/conftest.py
  backend/tests/test_enpoints/test_main.py
Due: test_backend

fix: remove env comments
  .github/workflows/main.yml
Due: none

fix: test var addition
  .github/workflows/main.yml
Due: none

fix: test env file
  .github/workflows/main.yml
  Makefile
Due: validate_root

feat: adaptive aud for pushes
  backend/app/config/default.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

hotfix: cant remove old channels
  backend/app/config/default.py
  backend/app/src/common/dtos/dtos.py
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: first add push, wait 1 sec, then request permission
  frontend/src/index.js
Due: none

fix: pushes
  frontend/src/index.js
Due: none

fix: name of service worker
  frontend/src/index.js
Due: none

feat: toaster
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.js
  frontend/src/pages/Index.js
Due: none

feat: toaster
  frontend/src/pages/Index.js
Due: none

feat: apple push aud
  backend/app/config/default.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

test: comment vapid claims
  backend/app/src/middleware/push_notifications.py
Due: test_backend

test: aud = endpoint
  backend/app/src/middleware/push_notifications.py
Due: test_backend

test: AAAAAAA
  backend/app/src/middleware/push_notifications.py
Due: test_backend

fix: duration for toast
  frontend/src/pages/Index.js
Due: none

feat: add pwa hint
  frontend/public/pwa_hint.png
  frontend/src/pages/Index.js
Due: none

feat: add second sleep
  frontend/src/pages/Index.js
Due: none

fix: pwa hint message
  frontend/public/pwa_hint.png
Due: none

fix: убрал комменты
  frontend/src/pages/Index.js
Due: none

fix: toast for some
  frontend/src/pages/Index.js
Due: none

fix: change tg logo + underline
  frontend/src/pages/landing.js
  frontend/src/pages/landing.module.css
Due: none

fix: manifest add satrt_url + icon
  frontend/public/manifest.json
Due: none

fix: web push error handling
  backend/app/src/middleware/push_notifications.py
Due: test_backend

feat: add link to logo
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.module.css
Due: none

fix: return back sizes
  frontend/public/manifest.json
Due: none

feat: telegram auth endpoint
  backend/app/data/db/models/user.py
  backend/app/src/middleware/login_manager.py
  backend/app/src/modules/users/logic.py
  backend/app/src/modules/users/routes.py
Due: test_backend

chore: move jwt decoder from routes
  backend/app/src/modules/users/logic.py
  backend/app/src/modules/users/routes.py
Due: test_backend

feat: add endpoints for auth and login from telegram
  backend/Dockerfile
  backend/alembic/versions/b53043409896_telegram_api.py
  backend/app/src/modules/telegram/__init__.py
  backend/app/src/modules/telegram/exceptions.py
  backend/app/src/modules/telegram/routes.py
  backend/app/src/modules/users/routes.py
  backend/app/src/routers.py
Due: test_backend

feat: add endpoints for auth and login from telegram
  backend/app/src/modules/telegram/routes.py
Due: test_backend

feat: implement auth endpoint
  backend/app/data/db/repositories/user.py
  backend/app/src/modules/telegram/exceptions.py
  backend/app/src/modules/telegram/routes.py
  backend/app/src/modules/telegram/schemas.py
Due: test_backend

feat: qr code for admin, tg login, redirect to tg for ios
  backend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Admin/Order/OrderTop.module.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.module.css
  frontend/src/components/User/OrderList.js
  frontend/src/pages/Index.js
  frontend/src/pages/JoinChannelSpot.js
  frontend/src/pages/UUID.js
  frontend/src/utils/api.js
Due: test_backend

chores
  backend/app/data/db/repositories/user.py
  backend/app/src/modules/telegram/exceptions.py
  backend/app/src/modules/telegram/routes.py
  backend/app/src/modules/users/logic.py
Due: test_backend

feat: join channel by id
  backend/app/src/modules/users/logic.py
  backend/app/src/modules/users/routes.py
Due: test_backend

feat: QR CODE FOR FRONT
  frontend/src/components/Admin/Order/Order.js
  frontend/src/components/Admin/Order/Order.module.css
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderBottom.module.css
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Admin/Order/OrderTop.module.css
  frontend/src/components/User/Order/Order.js
  frontend/src/components/User/Order/Order.module.css
  frontend/src/components/User/Order/OrderBottom.js
  frontend/src/components/User/Order/OrderBottom.module.css
  frontend/src/components/User/Order/OrderTop.js
  frontend/src/context/AdminContext.js
  frontend/src/context/AdminOrderContext.js
Due: none

Path conditions:
  validate_root: any of: *
  test_backend: any of: backend/**/*
