Repository peplxx/Notimy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_root, test_backend

.gitlab-ci.yml:

stages:
  - test

validate_root:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - "*"
  script:
    - echo Pipeline succeeds


variables:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DB: postgres
  POSTGRES_HOST: db

test_backend:
  stage: test
  image: python:3.12-slim
  cache:
    paths:
      - backend/.venv
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
  script:
    - cd backend
    - poetry install
    - make test

fix: change logo svg on background
  frontend/src/index.js
Due: none

fix: text-align = left for Admin Message
  frontend/src/components/Admin/Order/MessagesList.module.css
Due: none

chore: remove commented code
  frontend/src/components/User/Order/MessagesList.js
Due: none

fix: change logo svg
  frontend/public/logo.svg
Due: none

fix: add box-shadow for all browsers
  frontend/src/pages/landing.module.css
Due: none

hotfix: login
  backend/app/src/modules/users/logic.py
Due: test_backend

feat: services user receive UserData instead of UserResponse + 1 test
  Makefile
  backend/app/src/common/dtos/dtos.py
  backend/app/src/modules/users/routes.py
  backend/tests/test_enpoints/test_main.py
Due: validate_root, test_backend

fix: channel creation with unique code
  backend/app/data/db/repositories/channel.py
Due: test_backend

feat: add sound, add fast messages
  frontend/public/ready.mp3
  frontend/public/svg/Group.svg
  frontend/public/svg/Vector.svg
  frontend/src/App.js
  frontend/src/components/Admin/Order/InputMessage.js
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderBottom.module.css
  frontend/src/components/Header/Header.js
  frontend/src/components/Header/Header.module.css
  frontend/src/components/MessagesList.js
  frontend/src/components/MessagesList.module.css
  frontend/src/components/User/Order/Order.js
  frontend/src/components/User/Order/OrderBottom.js
  frontend/src/components/User/OrderList.js
  frontend/src/context/AdminContext.js
  frontend/src/context/OrderContext.js
  frontend/src/context/UserContext.js
  frontend/src/pages/Admin.js
  frontend/src/utils/api.js
Due: none

feat: add name of provider in admin
  frontend/src/context/AdminContext.js
  frontend/src/utils/api.js
Due: none

fix: centering text in quick messages
  frontend/src/components/Admin/Order/OrderBottom.module.css
Due: none

fix: hide source code
  frontend/package.json
Due: none

feat: telegram auth endpoint
  backend/app/data/db/models/user.py
  backend/app/src/middleware/login_manager.py
  backend/app/src/modules/users/logic.py
  backend/app/src/modules/users/routes.py
Due: test_backend

chore: move jwt decoder from routes
  backend/app/src/modules/users/logic.py
  backend/app/src/modules/users/routes.py
Due: test_backend

add: fields to config
  backend/app/config/default.py
Due: test_backend

chore: remove trash
  backend/tests/made-test-cases
  backend/tests/suggested-test-cases
Due: test_backend

feat: generate vapid keys
  .env.example
  Makefile
  backend/Makefile
  backend/app/__main__.py
  backend/app/config/default.py
  backend/app/src/middleware/push_notifications.py
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose.yml
Due: validate_root, test_backend

feat: test notifications
  backend/app/data/db/models/user.py
  backend/app/src/middleware/push_notifications.py
  backend/app/src/modules/webpush/__init__.py
  backend/app/src/modules/webpush/routes.py
  backend/app/src/routers.py
  backend/poetry.lock
  backend/pyproject.toml
Due: test_backend

fix: ready for test webpush
  backend/app/config/default.py
  backend/app/src/middleware/push_notifications.py
  backend/app/src/modules/webpush/routes.py
Due: test_backend

feat: compose+nginx for test frontend locally
  docker-compose-front.yml
  nginx/nginx-frontend.conf
Due: validate_root

feat: push notifications
  frontend/public/sw.js
  frontend/src/index.js
Due: none

feat: take out api request to corresponding file
  frontend/src/utils/api.js
Due: none

feat: add asking for notifications when load
  frontend/src/index.js
Due: none

feat: add send PUSH when close channel TODO
  backend/app/src/modules/spots/routes.py
Due: test_backend

fix: push aud
  backend/app/config/default.py
Due: test_backend

feat: api push
  frontend/src/utils/api.js
Due: none

feat: send push when close
  backend/app/src/modules/spots/routes.py
Due: test_backend

feat: introduce event classes
  backend/app/data/db/models/user.py
  backend/app/src/common/events/__init__.py
  backend/app/src/common/events/base.py
  backend/app/src/common/events/channel_events/__init__.py
  backend/app/src/common/events/channel_events/new_message.py
  backend/app/src/middleware/push_notifications.py
  backend/app/src/modules/spots/routes.py
  backend/poetry.lock
  backend/pyproject.toml
Due: test_backend

fix: imports + add migration
  backend/alembic/versions/43f462e6f7cd_.py
  backend/app/src/common/events/__init__.py
  backend/app/src/common/events/channel_events/__init__.py
  backend/app/src/common/events/channel_events/base.py
  backend/app/src/common/events/channel_events/new_message.py
Due: test_backend

fix: user model
  backend/alembic/versions/43f462e6f7cd_.py
  backend/app/data/db/models/user.py
Due: test_backend

fix: fix push condition
  backend/app/data/db/models/user.py
Due: test_backend

fix: set push notification data for event
  backend/app/src/common/events/channel_events/new_message.py
Due: test_backend

chore: move pushNotification dto
  backend/app/src/common/events/base.py
  backend/app/src/common/events/channel_events/new_message.py
  backend/app/src/common/push_notifications/__init__.py
  backend/app/src/common/push_notifications/dto.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

feat: config default config for push notifications
  backend/app/config/default.py
  backend/app/src/common/push_notifications/default.py
Due: test_backend

feat: Use config in new message event
  backend/app/src/common/events/channel_events/new_message.py
  backend/app/src/common/push_notifications/__init__.py
Due: test_backend

fix: add annotations
  backend/app/config/default.py
Due: test_backend

fix: fix issues
  backend/app/config/default.py
  backend/app/src/common/push_notifications/default.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

fix: fix issues
  backend/app/src/common/events/channel_events/new_message.py
Due: test_backend

fix: fix pydantic class issue
  backend/app/data/db/models/channel.py
  backend/app/src/common/events/channel_events/new_message.py
  backend/app/src/modules/spots/routes.py
  backend/app/src/modules/users/schemas.py
Due: test_backend

fix: add timezone offset
  frontend/src/utils/formatDate.js
Due: none
