Repository peplxx/Notimy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_root, test_backend

validate_root:
  script:
  - echo Pipeline succeeds

test_backend:
  stage: test
  image: python:3.12-slim
  cache:
    paths:
    - backend/.venv
  script:
  - cd backend
  - poetry install
  - make test

feat: add comment to redirect log
  frontend/src/components/User/ScanBtn.js
Due: none

feat: sorted user's orders by created time
  frontend/src/context/AdminContext.js
Due: none

feat: sorted user's orders by created time and status, admin's orders by created time
  frontend/src/components/Admin/Order/MessagesList.js
  frontend/src/components/User/Order/MessagesList.js
  frontend/src/context/AdminContext.js
  frontend/src/context/UserContext.js
Due: none

chore: clean branch
  .gitattributes
  24.0
  See
  [23
  api/blueprints.py
  api/channels/routes.py
  api/error_handling.py
  api/providers/routes.py
  api/users/routes.py
  data/config.py
  data/database/__init__.py
  data/database/chanels.py
  data/database/db_session.py
  data/database/manager.py
  data/database/providers.py
  data/database/spots.py
  data/database/users.py
  data/datatypes/__init__.py
  data/datatypes/channels.py
  data/datatypes/providers.py
  data/datatypes/users.py
  data/exceptions.py
  data/logging.json
  main.py
  requirements.txt
  static/1.jpg
  static/css/bootstrap.min.css
  static/css/style.css
  static/favicon-32x32.png
  static/favicon.svg
  templates/base.html
Due: validate_root

chore: remove unnessasary files
  .gitlab-ci.yml
  Makefile
  backend/poetry.lock
  backend/pyproject.toml
  docker-compose-prod.yml
Due: validate_root, test_backend

add: dockerignore file
  backend/.dockerignore
Due: test_backend

chore: add make env
  Makefile
Due: validate_root

test: github user
  backend/tests/conftest.py
Due: test_backend

test: github user
  backend/app/data/db/connection/session.py
Due: test_backend

test: ci workflow
  .github/workflows/main.yml
Due: none

chore: fix Makefile + add docker compose for prod
  Makefile
  docker-compose-prod.yml
Due: validate_root

fix: api url + warnings
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/MessagesList.js
  frontend/src/components/Admin/Order/Order.js
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Header/Header.js
  frontend/src/components/User/Order/MessagesList.js
  frontend/src/components/User/Order/Order.js
  frontend/src/context/AdminContext.js
  frontend/src/context/AdminOrderContext.js
  frontend/src/utils/api.js
Due: none

fix: add frontend path to nginx.conf
  nginx.conf
Due: validate_root

fix: remove recursion
  frontend/src/components/Admin/Order/MessagesList.js
  frontend/src/components/User/Order/MessagesList.js
  frontend/src/context/AdminContext.js
Due: none

add prod
  Makefile
  docker-compose-prod.yml
  nginx.conf
Due: validate_root

fix: Пожирнее текст в сообщениях Автоскролл 50% -> 70-75% Увеличить разрешение на мобилке, уменьшить на компе убрал промотку сообщений, потому что лагает
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/DeleteButton.js
  frontend/src/components/Admin/Order/MessagesList.js
  frontend/src/components/Admin/Order/MessagesList.module.css
  frontend/src/components/Bulb.module.css
  frontend/src/components/Header/Header.module.css
  frontend/src/components/User/Order/DeleteButton.js
  frontend/src/components/User/Order/MessagesList.js
  frontend/src/components/User/Order/MessagesList.module.css
  frontend/src/components/User/OrderList.module.css
  frontend/src/components/User/ScanBtn.js
  frontend/src/components/User/ScanBtn.module.css
  frontend/src/index.css
Due: none

fix: scan button size
  frontend/src/components/ScanSvg.js
  frontend/src/components/User/ScanBtn.module.css
Due: none

fix: admin subtitle position
  frontend/src/pages/Admin.js
Due: none

fix: admin add btn and list size
  frontend/src/components/Admin/AdminAddBtn.module.css
  frontend/src/components/Admin/OrderList.module.css
Due: none

feat: add limiter
  backend/app/limiter.py
  backend/app/src/app.py
  backend/poetry.lock
  backend/pyproject.toml
Due: test_backend

feat: add rate limits for endpoints
  backend/app/config/default.py
  backend/app/limiter.py
  backend/app/src/app.py
  backend/app/src/modules/providers/routes.py
  backend/app/src/modules/spots/routes.py
  backend/app/src/modules/users/routes.py
  backend/tests/conftest.py
  backend/tests/test_enpoints/test_main.py
Due: test_backend

feat: turn off limits for tests
  backend/app/config/default.py
  backend/app/limiter.py
  backend/app/src/app.py
  backend/tests/test_enpoints/test_main.py
Due: test_backend

fix: limit
  backend/app/src/modules/spots/routes.py
Due: test_backend

fix: prod docker + env example
  .env.example
  docker-compose-prod.yml
Due: validate_root

hotfix: infinity login loop
  backend/app/src/modules/users/routes.py
Due: test_backend

hotfix: infinity login loop
  backend/app/src/app.py
Due: test_backend

feat: add prod nginx config
  docker-compose-prod.yml
  docker-compose.yml
  nginx/nginx-backend.conf
  nginx/nginx-prod.conf
Due: validate_root

fix: config
  nginx/nginx-prod.conf
Due: none

fix: fit admin messages list
  frontend/src/components/Admin/Order/MessagesList.module.css
  frontend/src/components/Admin/Order/OrderBottom.module.css
Due: none

fix: add front build + close ports for back+db
  docker-compose-prod.yml
  frontend/Dockerfile
  frontend/package-lock.json
  frontend/package.json
Due: validate_root

fix: hide ports from docker compose prod
  docker-compose-prod.yml
Due: validate_root

Path conditions:
  validate_root: any of: *
  test_backend: any of: backend/**/*
