Repository peplxx/Notimy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_root, test_backend

.gitlab-ci.yml:

stages:
  - test

validate_root:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - "*"
  script:
    - echo Pipeline succeeds


variables:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DB: postgres
  POSTGRES_HOST: db

test_backend:
  stage: test
  image: python:3.12-slim
  cache:
    paths:
      - backend/.venv
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
  script:
    - cd backend
    - poetry install
    - make test

feat: add local number for each channel
  backend/alembic/versions/a9219c8f53de_.py
  backend/app/data/db/models/channel.py
  backend/app/src/common/dtos/dtos.py
  backend/app/src/modules/spots/routes.py
Due: test_backend

feat: add to user response
  backend/app/src/modules/users/schemas.py
Due: test_backend

feat: make generic response for different user roles
  backend/app/src/modules/users/schemas.py
Due: test_backend

feat: sizes, add local number, animation messages, add shadow for top button
  frontend/src/components/Admin/AdminAddBtn.module.css
  frontend/src/components/Admin/Order/MessagesList.js
  frontend/src/components/Admin/Order/MessagesList.module.css
  frontend/src/components/Admin/Order/Order.module.css
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderBottom.module.css
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Admin/OrderList.module.css
  frontend/src/components/User/Order/MessagesList.js
  frontend/src/components/User/Order/MessagesList.module.css
  frontend/src/components/User/Order/OrderBottom.js
  frontend/src/components/User/Order/OrderBottom.module.css
  frontend/src/components/User/ScanBtn.module.css
  frontend/src/context/AdminContext.js
  frontend/src/context/OrderContext.js
  frontend/src/index.css
Due: none

fix: overlap bulb
  frontend/src/components/User/Order/OrderTop.module.css
Due: none

feat: add empty / + /app
  frontend/src/App.js
  frontend/src/pages/AdminLogin.js
  frontend/src/pages/JoinChannel.js
  nginx.conf
Due: validate_root

feat: close by click on pc, update landing
  frontend/src/App.js
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/DeleteButton.js
  frontend/src/components/User/Order/DeleteButton.js
  frontend/src/context/OrderContext.js
  frontend/src/context/UserContext.js
  frontend/src/pages/landing.js
Due: none

fix: only click for pc
  frontend/src/App.js
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/DeleteButton.js
Due: none

fix: fix CORS domain + set hostname to cookies
  backend/app/src/app.py
  backend/app/src/modules/users/routes.py
Due: test_backend

Revert "fix: fix CORS domain + set hostname to cookies"
  backend/app/src/app.py
  backend/app/src/modules/users/routes.py
Due: test_backend

fix:set domain to cookies
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: click conflicts
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/DeleteButton.js
  frontend/src/components/User/Order/DeleteButton.js
Due: none

fix: set-cookies
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: add end in click + remove extra preventDefault
  frontend/src/components/Admin/Order/CloseChnlBtn.js
Due: none

fix: add max-age parameter
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: set max-age parameter to 1h
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: max-age parameter
  backend/app/src/modules/users/routes.py
Due: test_backend

feat: optimize poetry install in Dockerfile
  backend/Dockerfile
Due: test_backend

fix: add sorting by date for channels
  backend/app/data/db/models/spot.py
Due: test_backend

feat: off B33P sound
  frontend/src/components/User/ScanBtn.js
Due: none

feat: add check + constraint to admin page
  frontend/src/App.js
  frontend/src/utils/api.js
Due: none

feat: add code linters
  backend/Dockerfile
  backend/poetry.lock
  backend/pyproject.toml
Due: test_backend

chore: relocate limiter module
  backend/app/src/app.py
  backend/app/src/limiter.py
  backend/app/src/modules/providers/routes.py
  backend/app/src/modules/spots/routes.py
  backend/app/src/modules/users/routes.py
  backend/tests/conftest.py
Due: test_backend

chore: make clean provider routes module + introduce repositories
  backend/app/config/constants.py
  backend/app/data/db/__init__.py
  backend/app/data/db/models/mixins/index.py
  backend/app/data/db/models/spot.py
  backend/app/data/db/repositories/__init__.py
  backend/app/data/db/repositories/provider.py
  backend/app/data/db/repositories/spot.py
  backend/app/data/db/repositories/user.py
  backend/app/src/modules/root/exceptions.py
  backend/app/src/modules/root/routes.py
Due: test_backend

chore: make clean provider routes module + introduce repositories
  backend/app/src/modules/root/logic.py
Due: test_backend

fix: fix test config
  backend/app/config/default.py
  backend/app/src/modules/users/routes.py
  backend/tests/conftest.py
Due: test_backend

feat: add common Slider, remove specific sliders for admin, user; add hint for pc/mobile sliding
  frontend/src/components/Admin/Order/CloseChnlBtn.js
  frontend/src/components/Admin/Order/DeleteButton.js
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Slider.js
  frontend/src/components/Slider.module.css
  frontend/src/components/User/Order/OrderTop.js
  frontend/src/components/User/ScanBtn.js
  frontend/src/components/svg/AcceptSvg.js
  frontend/src/components/svg/ClickSvg.js
  frontend/src/components/svg/ScanSvg.js
  frontend/src/components/svg/TapAndMoveSvg.js
  frontend/src/components/svg/TrashBucketSvg.js
Due: none
