Repository peplxx/Notimy: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate_root, test_backend

.gitlab-ci.yml:

stages:
  - test

validate_root:
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - "*"
  script:
    - echo Pipeline succeeds


variables:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
  POSTGRES_PORT: 5432
  POSTGRES_DB: postgres
  POSTGRES_HOST: db

test_backend:
  stage: test
  image: python:3.12-slim
  cache:
    paths:
      - backend/.venv
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
      changes:
        - backend/**/*
  script:
    - cd backend
    - poetry install
    - make test

fix: add borde rradius for qr code
  frontend/src/components/Admin/Order/OrderTop.module.css
Due: none

feat: multiple db + fix connection problem
  backend/app/data/db/models/channel.py
  docker-compose-prod.yml
  docker-compose.yml
  init-db/init-multiple-db.sh
Due: validate_root, test_backend

fix: uuid from me to id
  frontend/src/App.js
Due: none

fix: undefined id
  frontend/src/App.js
Due: none

fix: not ios
  frontend/src/App.js
Due: none

add: tg to me
  backend/app/src/common/dtos/dtos.py
  backend/app/src/modules/users/schemas.py
Due: test_backend

feat: add tg bool
  frontend/src/App.js
Due: none

add: tg to me
  backend/app/src/modules/users/schemas.py
Due: test_backend

fix: limits
  backend/app/src/modules/users/routes.py
Due: test_backend

fix: from cookie
  backend/app/src/modules/users/logic.py
Due: test_backend

fix: clear cookies + sleep before redirect
  frontend/src/App.js
  frontend/src/pages/UUID.js
Due: none

fix: remove toasts
  frontend/src/pages/Index.js
Due: none

feat: add secire + saemmsie to set cookies
  frontend/src/pages/UUID.js
Due: none

fix: change endpoint for join to channel dirly
  frontend/src/pages/JoinChannel.js
Due: none

feat: add telegram push
  backend/app/config/default.py
  backend/app/data/db/models/user.py
  backend/app/src/common/events/channel_events/base.py
  backend/app/src/common/push_notifications/dto.py
  backend/app/src/common/telegram_api/__init__.py
  backend/app/src/common/telegram_api/send_message.py
  backend/poetry.lock
  backend/pyproject.toml
Due: test_backend

fix: add telegram push
  backend/app/data/db/models/user.py
  backend/app/src/common/events/channel_events/base.py
  backend/app/src/common/push_notifications/__init__.py
  backend/app/src/common/push_notifications/telegram_api/__init__.py
  backend/app/src/common/push_notifications/telegram_api/send_message.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

fix: add telegram push
  backend/app/src/common/events/channel_events/channel_closed.py
  backend/app/src/common/push_notifications/telegram_api/send_message.py
  backend/app/src/middleware/push_notifications.py
Due: test_backend

fix: add telegram push
  backend/app/src/common/push_notifications/telegram_api/send_message.py
Due: test_backend

created App context
  frontend/src/App.js
  frontend/src/context/App.js
  frontend/src/pages/Index.js
  frontend/src/utils/auth.js
  frontend/src/utils/protectedRoute.js
  frontend/src/utils/serviceWorker.js
Due: none

common context, remove contexts
  api_test_data.txt
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Admin/AdminAddBtn.js
  frontend/src/components/Admin/Order/Order.js
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Admin/OrderList.js
  frontend/src/components/Header/Header.js
  frontend/src/components/MessagesList.js
  frontend/src/components/User/Order/Order.js
  frontend/src/components/User/Order/OrderTop.js
  frontend/src/components/User/OrderList.js
  frontend/src/context/App.js
  frontend/src/pages/Admin.js
  frontend/src/pages/AdminApp.js
  frontend/src/pages/AdminLogin.js
  frontend/src/pages/MainApp.js
  frontend/src/pages/UserApp.js
  frontend/src/utils/api.js
  frontend/src/utils/auth.js
  frontend/src/utils/mockData.js
  frontend/src/utils/mockUtils.js
Due: validate_root

.
  frontend/src/components/Admin/Order/InputMessage.js
  frontend/src/components/Admin/Order/Order.js
  frontend/src/components/Admin/Order/OrderBottom.js
  frontend/src/components/Admin/Order/OrderTop.js
  frontend/src/components/Admin/OrderList.js
  frontend/src/components/MessagesList.js
  frontend/src/components/QuickMessages.jsx
  frontend/src/components/User/Order/OrderBottom.js
Due: none

init landing
  NotimyLanding/.eslintignore
  NotimyLanding/.eslintrc.json
  NotimyLanding/.gitignore
  NotimyLanding/.npmrc
  NotimyLanding/.vscode/settings.json
  NotimyLanding/LICENSE
  NotimyLanding/README.md
  NotimyLanding/app/about/layout.tsx
  NotimyLanding/app/about/page.tsx
  NotimyLanding/app/blog/layout.tsx
  NotimyLanding/app/blog/page.tsx
  NotimyLanding/app/docs/layout.tsx
  NotimyLanding/app/docs/page.tsx
  NotimyLanding/app/error.tsx
  NotimyLanding/app/layout.tsx
  NotimyLanding/app/page.tsx
  NotimyLanding/app/pricing/layout.tsx
  NotimyLanding/app/pricing/page.tsx
  NotimyLanding/app/providers.tsx
  NotimyLanding/components/counter.tsx
  NotimyLanding/components/icons.tsx
  NotimyLanding/components/navbar.tsx
  NotimyLanding/components/primitives.ts
  NotimyLanding/components/theme-switch.tsx
  NotimyLanding/config/fonts.ts
  NotimyLanding/config/site.ts
  NotimyLanding/next.config.js
  NotimyLanding/package.json
  NotimyLanding/postcss.config.js
  NotimyLanding/public/favicon.ico
  NotimyLanding/public/next.svg
  NotimyLanding/public/vercel.svg
  NotimyLanding/styles/globals.css
  NotimyLanding/tailwind.config.js
  NotimyLanding/tsconfig.json
  NotimyLanding/types/index.ts
Due: none

add sections
  NotimyLanding/app/layout.tsx
  NotimyLanding/app/page.tsx
  NotimyLanding/components/icons.tsx
  NotimyLanding/components/navbar.tsx
  NotimyLanding/components/section.tsx
Due: none

add button tg
  NotimyLanding/components/navbar.tsx
  NotimyLanding/components/section.tsx
Due: none

add anchors, picture, price
  NotimyLanding/app/about/layout.tsx
  NotimyLanding/app/about/page.tsx
  NotimyLanding/app/blog/layout.tsx
  NotimyLanding/app/blog/page.tsx
  NotimyLanding/app/docs/layout.tsx
  NotimyLanding/app/docs/page.tsx
  NotimyLanding/app/layout.tsx
  NotimyLanding/app/page.tsx
  NotimyLanding/app/pricing/layout.tsx
  NotimyLanding/app/pricing/page.tsx
  NotimyLanding/components/navbar.tsx
  NotimyLanding/public/notimy phone.jpg
  NotimyLanding/public/notimy phone.png
Due: none

purple color, gray bg, styles
  NotimyLanding/app/page.tsx
  NotimyLanding/components/navbar.tsx
  NotimyLanding/package.json
Due: none

rm
  README.md
Due: validate_root

Initial commit
  README.md
Due: validate_root

add docker nginx for ladning
  NotimyLanding/Dockerfile
  docker-compose-prod.yml
  docker-compose.yml
  nginx/nginx-prod.conf
Due: validate_root

add /app path
  docker-compose-prod.yml
  frontend/Dockerfile
  frontend/package.json
  frontend/public/index.html
  frontend/public/static/Group.svg
  frontend/public/static/Vector.svg
  frontend/public/static/favicon.ico
  frontend/public/static/logo.svg
  frontend/public/static/logo_circle.png
  frontend/public/static/manifest.json
  frontend/public/static/notimy_presentation.jpg
  frontend/public/static/pwa_hint.png
  frontend/public/static/ready.mp3
  frontend/public/static/sw.js
  frontend/src/App.js
  frontend/src/components/Admin/InputMessage.js
  frontend/src/components/Admin/QuickMessages.jsx
  frontend/src/components/Header.js
  frontend/src/components/Order.js
  frontend/src/components/OrderBottom.js
  frontend/src/components/OrderList.js
  frontend/src/index.js
  frontend/src/pages/landing.js
  frontend/src/utils/serviceWorker.js
  nginx/nginx-prod.conf
Due: validate_root

fix hide frontend ports
  docker-compose-prod.yml
Due: validate_root

fix static manifest, robots.txt
  frontend/public/index.html
  frontend/public/manifest.json
  frontend/public/robots.txt
  nginx/nginx-prod.conf
Due: none
